name: Linux

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      CC: gcc-14
      CXX: g++-14

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - uses: actions/setup-python@v6
      with:
        python-version: '3.x'

    - name: Install Ubuntu packages
      run: |
        sudo apt update
        sudo apt -y install libxxhash-dev nasm

    - name: Install Python packages
      run: |
        python -m pip install -U pip
        pip install -U meson ninja

    - name: Install zimg
      run: |
        git clone https://github.com/sekrit-twc/zimg.git --depth 1 --recurse-submodules --shallow-submodules
        pushd zimg
        ./autogen.sh
        ./configure --prefix=/usr --disable-simd
        make -j$(nproc)
        sudo make install -j$(nproc)
        popd
        rm -rf zimg

    - name: Install VapourSynth
      run: |
        git clone https://github.com/vapoursynth/vapoursynth.git --depth 1
        pushd vapoursynth
        ./autogen.sh
        ./configure --prefix=/usr --disable-x86-asm --disable-vsscript --disable-vspipe --disable-python-module
        make -j$(nproc)
        sudo make install -j$(nproc)
        popd
        rm -rf vapoursynth

    - name: Install FFmpeg
      run: |
        git clone https://git.ffmpeg.org/ffmpeg.git --depth 1
        pushd ffmpeg
        ./configure --prefix=/usr --enable-gpl --enable-version3 --disable-programs --disable-doc --disable-avdevice --disable-swresample --disable-swscale --disable-avfilter --disable-encoders --disable-muxers --disable-debug
        make -j$(nproc)
        sudo make install -j$(nproc)
        popd
        rm -rf ffmpeg

    - name: Build
      run: |
        meson setup build
        meson compile -C build
